body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(183, 247, 255);
  margin: 0;
  font-family:'Times New Roman', Times, serif;
}

.Alisha {
  background: hotpink;
  padding: 20px 25px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  text-align: left;
  width: 300px;
  color: rgb(243, 242, 242);
  animation: popUp 2s ease forwards;
}

@keyframes popUp {
  from { transform: scale(0.7); }
  to { transform: scale(1);  }
}

.Alisha h2 {
  margin-bottom: 20px;
  color: #f1f0f0;   
  text-align: center;
  display: inline-block;  
  padding: 5px 10px;
  border-radius: 6px;
  transition: all 0.5s ease;
}

.Alisha h2:hover {
  background-color: yellow;   
  color: black;               
  transform: scale(1.1);      
}


.Alisha input[type="text"],
.Alisha input[type="email"],
.Alisha input[type="password"] {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 14px;

}

.Alisha .terms {
  font-size: 13px;
  display: block;
  margin: 10px 0;
  text-align: left;

}


.Alisha button {
  width: 95%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
  background: lightgreen; 
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.Alisha button:hover {
  background: rgb(255, 7, 7);  
  color: white;
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}


.Alisha a {
  color: rgb(13, 119, 218); 
  font-weight: bold;
  text-decoration: none;
  position: relative;
  padding: 2px 4px;
}

.Alisha a::before {
  content: "";
  position: absolute;
  left: 0; bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

.Alisha a:hover::before {
  transform: scaleX(1);
}
