body {
    background-color:chartreuse;
    align-items: center;
    justify-content: center;
    display: flex;
}
.loader {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    animation: spin 2s  linear infinite;
}
@keyframes spin{
0% { transform: rotate(0deg) ;}
100%{transform: rotate(100deg);}
}