* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header */
.alishaheader {
    background-color: #666;
    color: white;
   
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;

}

.alishaheader img {
    position: absolute;
    left: 20px;
    width: 60px; 
    height: auto;
}

/* Main container */
.acontainer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px;
    background-color: #ccc;
}

/* Sidebar */
.asidebar {
    width: 20%;
    background-color: #ddd;
    padding: 20px;
    text-align: left;
}

.asidebar h3 {
    margin-bottom: 10px;
}

.asidebar ul {
    list-style: none;
    padding: 0%;
}

.asidebar ul li {
    margin: 10px 0;
}

.asidebar ul li a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.asidebar img {
    width: 120px;
    height: auto;
    display: block;
}

/* Content */
.acontent {
    width: 60%;
    background-color: white;
    padding: 20px;
    text-align: left;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

}


footer {
    background-color: #666;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 16px;
}
